/node_modules
/storage/ImportedClaimData
/storage/XMLDATA
/storage/fnol_xml
/public/hot
/public/storage
/storage/*.key
/storage/hr/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.DS_Store
