
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import "node_modules/bulma/bulma.sass";
@import "resources/assets/sass/bulma-steps.sass";
@import "resources/assets/sass/bulma-switch.sass";
@import "resources/assets/sass/bulma-check-radio.sass";
@import "resources/assets/sass/tooltip.sass";
@import 'resources/assets/sass/bulma-timeline.sass';
@import 'resources/assets/sass/bulma-ribbon.sass';
@import 'resources/assets/sass/bulma-badge.sass';
@import 'resources/assets/sass/bulma-pageloader.sass';
@import "./croppa.scss";
// @import "resources/assets/sass/ccg-forms.sass";

@import "resources/assets/sass/dashboard/dashboard.sass";


.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.app-content {
	min-height: 80vh;
}

hr {
	margin: 1.2rem 0;
}

.section.is-main {
	padding: 1.5rem;
	@media screen and (max-width: 700px) {
	 	padding: 1rem;
	}
	@media screen and (min-width: 1920px) {
	 	padding: 4rem;
	}
}

input[type=text].is-search {
	background: $darker;
	color: $less-dark;
	border-color: $dark-border;
	&::placeholder {
		color: $less-dark;
	}
}

input[type=number]::-webkit-inner-spin-button { 
    // -webkit-appearance: none;
    padding: 20px 3px 20px 3px;
    cursor:pointer;
    display:block;
    width:16px;
    color: #333;
    text-align:center;
    position:relative;
}

.app-switcher{
	// height: 100%;
	background: $secondary;
	.app-switcher-button-container {
		height: 4rem;
		a.app-switcher-button {
			margin: 0 auto;
			font-size: 1.25rem;
			font-weight: 700;
			color: $light-gray;
			width: 100%;
			height: 100%;
			padding-top: 1rem;
			padding-bottom: 1rem;
			&:hover{
				background-color: darken($secondary, 5%) !important;
			}
			&.navbar-link::after{
				border-color: $light-gray;
			}
		}
	}
	aside.app-switcher-list {
		display: none;
		li > a {
			&:hover {
				color: $dark;
				background: darken($secondary, 5%);
				border-color: $light-gray;
			}
		}
	}
}

.navigation {
	background: $dark;
	height: 100vh;
	min-height: 100%;
	aside {
		li > a {
			padding: 1.75rem 0 1.75rem .75rem;
			color: $light-gray;
			font-weight: 400;
			&:hover {
				cursor: pointer;
				color: $primary-bright;
				background: darken($dark, 10%);
				border-left: 3px solid $primary-bright;
			}
		}
	}
}

.navbar{
	background: $navbar-background-color;
	height: $navbar-height;
	a.navbar-item {
		color: $less-dark;
		&:hover {
			background-color: $darker;
		}
	}
	.navbar-brand{
		& a:hover {
			background: $darker;
		}
		color: #efefef;
	}
	.navbar-item {
		 // &.has-dropdown.is-active .navbar-link {
		 //    background-color: $dark;
		 //  }
		// .navbar .navbar-item.is-hoverable
		&.is-hoverable {
				z-index: 1;
				background: $dark;
				&:hover{
					background: $dark;
				}
				a {
					color: $less-dark;
				}
				& a:hover {
					background: $darker;
					background-color: $darker;
				}
			}
		color: #efefef;
	}
	.navbar-dropdown {
		
		a.navbar-item:hover {
			background: whitesmoke;
			background-color: whitesmoke;
		}
	}
	.navbar-link:hover {
		color: #343b4d;
	}
}

.navbar-item input[type=text] {
	width: 350px;
}

html {
	background: $page-background;
}

.icon-on-white {
	// class="has-text-centered"
	background: url("/images/icon-on-light.png") no-repeat center center;
	background-size: contain;
	width: 75px;//50px;
	height: 57px;//38px;
	margin: 0 auto;
}

.sign-in-title{
	padding: 35px;
	h1 {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 700;
		color: $dark;
	}
}

.field:not(:last-child).is-signin {
	// padding: 0;
	margin-bottom: -1px;
	.control .has-icons-left {
		
	}
	.input[type=text],.input[type=password] {
		border: 1px solid #E3E3E3;
		box-shadow: none;
		border-radius: 0;
		// font-size: .85rem;
  //   	padding-top: 5%;
  //   	padding-bottom: 5%;
  //   	padding-left: 3.35rem;
	}
}

.input:focus {
	box-shadow: none;
	webkit-box-shadow: none;
	border-color: $primary-bright;
}

.is-ccg {
	background: $primary-bright; //#439BD1;
	color: #fafafa;
}


.is-full-width {
	width: 100%;
	select {
		width: 100%;
	}
}
h2.has-text-primary strong{
	color: $primary;
}
.pad {
	padding-top: 40px;
}

h1.hr-title {
	// margin-top: 5rem;
}

//Card 
.card {
	border: 1px solid $white;
	margin-right: 0;

	h1 {
		font-weight: 700;
		color: $dark;
		margin: 0;
	}
	h3:not(:first-child) {
		font-weight: 300;
		color: $primary;
		margin-top: 0;
	}
	&.is-user{
		margin-top: 5rem;
	}
	.current-status {
		> h4 {
			font-size: 1.15em;
			color: $gray-text;
			margin: 5% 0 0 0;
		}
		> h2 {
			color: $secondary;
			margin-top: 0;
			font-size: 1.5rem;
		}
	}
	.card-section {
		padding: 2rem 0 2rem 0;
		> h4 {
			color: $gray-text;
			margin-bottom: 0.15rem;
			font-size: .85rem;
			text-transform: uppercase;
		}
		> h3 {
			color: $dark;
			font-weight: 500;
			font-size: 1.1rem;
		}
	}
}
.options {
	margin-top: 5rem !important;
	> .option {
		padding: 1.25rem;
		color: hsl(0, 0%, 80%);
		text-transform: uppercase;
		font-size: .65rem;
		&.is-danger{
			&:hover {
				i.fa {
					color: $danger;
				}	
			}
		}
		i.fa{
			font-size: 2rem;
		}
		&:hover {
			cursor: pointer;
			color: $dark;
			i.fa {
				color: $primary-bright;
			}
		}	
	}
}
.icon.is-extra-large {
	width: 12rem;
	height: 12rem;
	color: $gray;
	i.fa.fa-12x{
		font-size: 12em;
	}
}
.icon.is-medium {
	width: 11rem;
	height: 11rem;
	color: $gray;
	i.fa.fa-11x{
		font-size: 11em;
	}
}

.icon.is-standard {
	width: 9rem;
	height: 9rem;
	color: $gray;
	i.fa.fa-9x{
		font-size: 9em;
	}
}

h1.profile-title {
	color: $gray-text;
	text-transform: uppercase;
	font-size: 1rem;
}

input .select-input {
	margin: 5px;
}

.menu {
	.is-global-search {
		top: 64px;
		left: 15px;
	}
	position: absolute;
	z-index: 1000;
	// width: 100%; 
	border: 1px solid #ccc; 
	background: $white;
	li.selected {
		color: $light-gray;
		background: $primary-bright;
	}
}
//Card 
a.card-header-icon.is-danger {
	color: $gray-text;
	&:hover{
		color: $danger;
	}
}
.card {
	&.is-stacked {
		.content h3 {
			margin-bottom: 0;
		}
		&:not(:first-child) {
			margin: 1rem 0;
		}
	}
	.card-content .content {
		a.delete {
			&.is-danger:hover {
				background: $danger;
			}
			&.is-warning:hover {
				background: $warning;
			}
		}
		span.tag {
			margin: 0 0 .5rem 0;
		}
		h3 {
			font-weight: 400;
		}
		span.tooltip {
			display: flex;
    		align-items: center;
		}
		progress.progress {
			margin-top: 1rem;
		}
	}
	footer.card-footer {
		margin: 0 5% 0 5%;
		&.is-borderless{
			.card-footer-item{
				border: none;
			}
		}
		a.card-footer-item {
			// font-size: inherit;
			font-weight: 700;
		}
		.card-footer-item {
			font-size: .8rem;
			i.fa {
				margin: 0 .5rem 0 0;
			}

			.dropdown-menu {
				margin-top: -.125rem;
				width: 100%;
				.dropdown-content{
					border-radius: 0;
					background: $light-gray;
				}
			}
		}
	}
}
.card header.card-header {
	&.is-primary {
		background: $primary;
	}
	&.is-secondary {
		background: $secondary;
	}
	&.is-danger {
		background: $danger;
	}
	&.is-dark {
		background: $dark;
		p.card-header-title {
			color: $light-gray;
		}
	}
	&.is-info {
		background: $info;
		p.card-header-title {
			color: $light-gray;
		}
	}
	&.is-warning {
		background: $warning;
	}
	background: #D9D9D9;
}
// card content tag
.tag:not(body) {
	background-color: $gray;
	color: $dark;
}
.tag {
	&.is-secondary{
		background-color: $secondary;
		color: $white;
	}
}
//Card Header Tag 
p.card-header-title > span.tag {
	&.is-primary {
		background: $primary-bright;
	}
	&.is-dark {
		background: $dark;
	}
	margin-right: .5rem;
}

.card {
	.card-content {
		span.count {
			font-size:4rem;
			font-weight: 700;
			&.is-total {
				color: $gray-text;
			}
			&.is-applicants {
				color: $primary-bright;
			}
			&.is-active {
				color: $secondary;
			}
			&.is-inactive{
				color: $gray-text;
			}
			&.is-no-hires {
				color: $danger;
			}
		}
		span.type {
			color: $gray-text;
			text-transform: uppercase;
		}
	}
}

.map {
	width: 100%; height: 400px;
	@media all and (max-width: 700) {
		height: 150px;
	}
}

//claim
button.is-menu {
	background: $info;
	color: $light-gray;
}
.main-menu {
	margin-top: 1.5rem;
	// background: $gray;
	// padding: 1rem;
	h3.main-menu-title {
		color: $info;
		display: block;
	    font-size: 11px;
	    letter-spacing: 1px;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	    font-weight: 700;
	    margin-left: 2em;
	}
}
.title {
	font-weight: 300;
	.is-lock {
		color: $grey;
		cursor: pointer;
	}
	&.is-hidden-desktop {
		margin-bottom: 0;
	}
	.claim-number {
		font-weight: 700;
		font-size: 1.25em;
		// letter-spacing: -.05em;
		@media screen and (max-width:  1440px) {
			font-size: 1em;
			font-weight: 700;
		}
		@media screen and (max-width:  500px) {
			font-size: 1em;
			font-weight: 700;
		}
	}
	.carrier {
		font-size: .75em; 
		position: relative; 
		top: 5%;
		@media screen and (max-width:  700) {
			font-size: .35em;
			font-weight: 100;
		}	
	}
	.divider {
		font-weight: 700; 
		padding-left: .2em; 
		padding-right: .2em; 
		position: relative; 
		top: 2%; 
		font-size: 1em;
		color: $secondary;
	}
}

a.is-menu-button{
	color: #343b4d;	
	padding-right: 0;
}
a.is-menu-button:hover{
	color: #439BD1;
	background: $light-gray;
};
.tag .is-delete{
	padding-right: 5px !important;
}
.timeline-marker .is-32x32{
	background: #497da9;
}
.is-32x32 span.icon{
	position: relative;
	top: 2px;
	left: 2px;
}
.dl-horizontal dt, .dl-horizontal div dt{
	font-weight: 700;
	width: 100%;
}
.dl-horizontal dd {
	font-weight: 300;
	/*float: left;*/
	width: 100%;
}

.claim-stat{
	h3.stat-title {
		color: #908F8F; font-size: .6em;
	}
	.stat {
		font-size: 2em; font-weight: 700; color:#64C6A3;
	}
	text-align: center;
	@media all and (max-width:700px) {
		text-align: center;
	}
}

.assignments{
	padding-left: 3rem;
	padding-right: 3rem;
	@media all and (max-width: 1920px){
		padding-left: 4rem;
		padding-right: 4rem;
	}
	@media all and (max-width:700px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	assignment{

	}
}
// Modal form
.modal.is-solid {
	.modal-content {
		label {
			color: $less-dark;
		}
		select, input {
			background: $darker;
			color: $less-dark;
			border-color: $dark-border;
			&::placeholder {
				color: $less-dark;
			}
		}
		.modal-content .control.has-icons-left .icon, .modal-content .control.has-icons-right .icon {
			color: $primary-bright;
		}
		.control.has-icons-left .icon, .control.has-icons-right .icon {
			color: $less-dark;
		}
		.select:not(.is-multiple):not(.is-loading):hover::after {
			border-color: $less-dark;
		}
		.select select:hover, .select select.is-hovered {
			border-color: $less-dark;
		}
		input:hover{
			border-color: $less-dark;
		}
	}
}

//timeline 
.timeline {
	.timeline-item {
		margin-left: .75em;
	}
	.timeline-header{
		position: relative;
    	left: -1em;
	}
	.timeline-item::before {
		background-color: $lightish-gray;
	}
}
.timeline-marker {
	.is-image {
		&.is-info {
			border: 5px solid $primary-bright; 
		}
		&.is-secondary {
			border: 5px solid $secondary;
		}
	}
	&.is-secondary {
		background-color: $secondary !important;
		border-color: $lightish-gray !important;
	}
}

//footer 
.columns.is-app-footer{
	color: #7683a2; 
	font-size: .8em; 
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 5rem;
	background: $gray;
	padding: 1.5rem;
	strong {
		color: #7683a2;
	}
}