<div id="claimDetail">
<br>
	<!-- ===== Begin Loss Info ====== -->
	<h3>Loss Info</h3>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Type Of Loss:</dt>
				<dd>{{ claim.type_of_loss || 'Not Provided' }}</dd>
				<dt>Catastrophe:</dt>
				<dd>{{ claim.catastrophe ? claim.catastrophe : 'no' }}</dd>
				<dt>Commercial:</dt>
				<dd>{{ claim.is_commercial ? 'yes' : 'no' }}</dd>
			</dl>
		</div>
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Date Of Loss:</dt>
				<dd>{{ claim.date_of_loss || 'Not Provided' }}</dd>
				<dt>Date Received:</dt>
				<dd>{{ claim.date_received || 'Not Provided' }}</dd>
			</dl>
		</div>
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Transaction Id:</dt>
				<dd>{{ claim.transaction_id || 'Not Provided' }}</dd>
				<dt>Price List Area:</dt>
				<dd>{{ claim.price_list_area || 'Not Provided' }}</dd>
			</dl>
		</div>
		<div class="col-sm-12">
			<dl class="dl-horizontal">
				<dt>Description:</dt>
				<dd>{{ claim.description }}</dd>
			</dl>
		</div>
	</div>
	<!-- ===== End Loss Info ====== -->

	<!-- ===== Begin Insured's Info ====== -->
	<h3>Insured's Info</h3>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Name:</dt>
				<dd>{{ claim.claim_detail.client.name | ucwords }}</dd>
				<dt>Email:</dt>
				<dd>{{ claim.claim_detail.client.email || 'Not Provided' | lowercase}}</dd>
				<br>
				<div v-for="phone in claim.claim_detail.client.phoneNumbers">
					<dt>{{ phone.type }} #:</dt>
					<dd>{{ phone.number || '000-000-0000' }}</dd>
				</div>
			</dl>
		</div>
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<div v-for="address in claim.claim_detail.client.addresses">
					<dt>{{ address.type }} Address:</dt>
					<dd>{{ address.street | ucwords }} <br> {{ address.city }} {{ address.state }}, {{ address.zip }} <br> {{ address.latitude }} <br> {{ address.longitude }}</dd>
				</div>
			</dl>
		</div>
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Policy #:</dt>
				<dd>{{ claim.claim_detail.policy.policyNumber }}</dd>
				<dt>Overall Deductible:</dt>
				<dd>{{ claim.claim_detail.policy.overallDeductible || 0 | currency }}</dd>
				<dt>Policy Type:</dt>
				<dd>{{ claim.claim_detail.policy.policyType || 'Not Provided' }}</dd>
				<dt>Policy Start Date:</dt>
				<dd>{{ claim.claim_detail.policy.policyStart || 'Not Provided' }}</dd>
				<dt>Policy End Date:</dt>
				<dd>{{ claim.claim_detail.policy.policyEnd || 'Not Provided' }}</dd>
				<dt>Apply Deductible:</dt>
				<dd>{{ claim.claim_detail.policy.applyDeductible }}</dd>
				
			</dl>
		</div>
	</div><!-- end row -->
	<h4>Coverages</h4>
	<hr>
	<div class="row">
		<div v-for="(key, coverage) in claim.claim_detail.policy.coverages">
			<div class="col-sm-4">
				<dl class="dl-horizontal">
					<dt>Coverage Name:</dt>
					<dd>{{ coverage.covName }}</dd>
					<dt>Deductible:</dt>
					<dd>{{ coverage.deductible }}</dd>
					<dt>Policy Limit:</dt>
					<dd>{{ coverage.policyLimit }}</dd>
					<dt>Reserve Ammount:</dt>
					<dd>{{ coverage.reserveAmt }}</dd>
				</dl>
			</div>
		</div>
	</div>

	<h3>Claimant's Info</h3>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Name:</dt>
				<dd>{{ claim.claim_detail.claimant.name || 'Not Provided' | ucwords }}</dd>
				<dt>Email:</dt>
				<dd>{{ claim.claim_detail.claimant.email || 'Not Provided' | lowercase }}</dd>
				<br>
				<div v-for="phone in claim.claim_detail.claimant.phoneNumbers">
					<dt>{{ phone.type || 'Phone'}} #:</dt>
					<dd>{{ phone.number || '000-000-0000' }}</dd>
				</div>
			</dl>
		</div>
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<div v-for="address in claim.claim_detail.claimant.addresses">
					<dt>{{ address.type }} Address:</dt>
					<dd>{{ address.street | ucwords }} <br> {{ address.city }} {{ address.state }}, {{ address.zip }} <br> {{ address.latitude }} <br> {{ address.longitude }}</dd>
				</div>
			</dl>
		</div>
	</div><!-- end row -->

	<h3>Access Contact Info</h3>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<dt>Name:</dt>
				<dd>{{ claim.claim_detail.accessContact.name || 'Not Provided' | ucwords }}</dd>
				<dt>Email:</dt>
				<dd>{{ claim.claim_detail.accessContact.email || 'Not Provided' | lowercase }}</dd>
				<br>
				<div v-for="phone in claim.claim_detail.accessContact.phoneNumbers">
					<dt>{{ phone.type || 'Phone' }} #:</dt>
					<dd>{{ phone.number || '000-000-0000' }}</dd>
				</div>
			</dl>
		</div>
		<div class="col-sm-4">
			<dl class="dl-horizontal">
				<div v-for="address in claim.claim_detail.accessContact.addresses">
					<dt>{{ address.type }} Address:</dt>
					<dd>{{ address.street | ucwords }} <br> {{ address.city }} {{ address.state }}, {{ address.zip }} <br> {{ address.latitude }} <br> {{ address.longitude }}</dd>
				</div>
			</dl>
		</div>
	</div><!-- end row -->
</div>