<div>
	<a v-link="{ name: 'createClaim'}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> &nbsp;Create New Claim</a><br><br>

	<div class="form-group" style="padding: 10px 0 10px 0">
	    <label class="sr-only">Search</label>
	    <div class="input-group">
	    	<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
	        <input type="text" class="form-control" v-model="search" placeholder="Claim Number, Adjuster, etc.">
	    </div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Carrier</th>
				<th>Claim #</th>
				<th>Insured</th>
				<!-- <th>Adjuster</th> -->
			</tr>
		</thead>
		<tbody>
			<tr v-for="claim in claims | filterBy search | orderBy carrier_name">
				<td>{{ claim.carrier_name }}</td>
				<td><a v-link="{name: 'showClaim', params: { claimId: claim.id }}">{{ claim.claim_number }}</a></td>
				<td>{{ claim.insured }}</td>
				<!-- <td>{{ claim.adjuster.fname }} {{ claim.adjuster.lname }}</td> -->
			</tr>
		</tbody>
	</table>
</div>