<form @submit.prevent="submitClaim">
	<div class="row">
	<h3 class="col-sm-2">Claim Info</h3>
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" v-if="errors.length !== 0">
			<strong>O Snap! You Screwed up.</strong>
			<button type="button" class="close" @click="resetErrors"><span aria-hidden="true">&times;</span></button>
			<ol>
				<li v-for="error in errors">{{error}}</li>
			</ol>
		</div>

		<hr>

		<div class="row">

			<div class="form-group col-sm-3">
				<label for="gross_loss">Date Of Loss</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="date_of_loss" class="form-control date" v-date="claim.date_of_loss">
				</div>
			</div>

			<div class="form-group col-sm-3">
				<label for="gross_loss">Date Received</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="date_received" class="form-control date" v-date="claim.date_received">
				</div>
			</div>

			<div class="form-group col-sm-3">
				<label for="gross_loss">Inspection Date</label>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="appointment_date" class="form-control date" v-date="claim.appointment_date">
				</div>
			</div>

		</div>

		<div class="row well">

			<div class="form-group col-sm-3">
				<label for="carrier">Carrier</label>
				<select v-model="claim.carrier" class="form-control custom">
					<option selected="selected" value="0">Select A Carrier</option>
					<option v-for="carrier in carriers" v-bind:value="carrier">
						{{ carrier.name }}
					</option>
				</select>
			</div>

			<div class="form-group col-sm-3">
				<label for="claim_type">Claim Type</label>
				<select v-model="claim.claim_type" name="claim_type" class="form-control custom">
					<option selected="selected" value="0">Select A Claim Type</option>
					<option v-for="claimType in claimTypes" v-bind:value="claimType.name"> 
						{{ claimType.name }}
					</option>
				</select>
			</div>

			<div class="form-group col-sm-3">
				<label for="claim_number">Claim #</label>
				<input type="text" v-model="claim.claim_number" name="claim_number" id="claim_number" class="form-control">
			</div>

			<div class="form-group col-sm-3">
				<label for="insured">Insured</label>
				<input type="text" v-model="claim.insured" name="insured" id="insured" class="form-control" placeholder="e.g. Bill Smith">
			</div>

			<div class="form-group col-sm-3">
				<label for="adjuster">Adjuster Name:</label>
				<select v-model="claim.adjuster" name="adjuster" class="form-control custom">
					<option selected="selected" value="0">Select An Adjuster</option>
					<option v-for="adjuster in adjusters" v-bind:value="adjuster">
						{{ adjuster.fname }} {{ adjuster.lname }}
					</option>
				</select>
			</div>	

			<div class="form-group col-sm-3">
				<label for="reviewer">Reviewer Name:</label>
				<select v-model="claim.reviewer" name="reviewer" class="form-control custom">
					<option selected="selected" value="0">Select A Reviewer</option>
					<option v-for="reviewer in reviewers" v-bind:value="reviewer">
						{{ reviewer.fname }} {{ reviewer.lname }}
					</option>
				</select>
			</div>	

			<div class="form-group col-sm-3">
				<label for="gross_loss">Gross Loss Amount</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="text" class="form-control" id="gross_loss" placeholder="e.g. 350.00" v-model="claim.gross_loss" number>
				</div>
			</div>

			<div class="checkbox col-sm-3" style="margin-top:30px">
			<label>
  				&nbsp;<input type="checkbox" v-model="claim.is_commercial">Commercial Claim
			</label>
		</div>

		</div><!-- end row -->

		<div class="col-sm-2 pull-right text-right">
			<button type="submit" class="btn btn-primary" v-text="btnText"></button>
		</div>
</form>