<div class="modal fade" id="createInvoice" tabindex="-1" role="dialog" aria-labelledby="newInvoiceModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Invoice</h4>
      </div>
      <div class="modal-body">
        
        <p>To create a new invoice select the appropriate option below. Only Reviewers/Adjusters that have been assigned to this claim will be assignable.</p>

        <div v-if="invoiceHasMultipleAssignees">
          <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Heads Up!</strong> If you can't assign the adjuster/reviewer you need to this invoice head over to the <a v-link="{path: 'timeline'}" data-dismiss="modal">timeline</a> to reassign this claim. The currenly assigned adjuster and reviewer are pre-selected for you. 
            </div>
            <div class="form-group" v-bind:class="{ 'has-warning': adjusterPreviouslyAssigned }">
              <label for="adjusterToAssign">Select Adjuster For This Invoice</label>
                <select class="form-control" id="adjusterToAssign" v-model="invoice.adjuster_id" number>
                <option value="0">Select an Adjuster...</option>
                <option v-for="adjuster in assignments.adjusters" value="{{ adjuster.id }}">{{ adjuster.fname }} {{ adjuster.lname }}</option>
              </select>
             <span v-if="adjusterPreviouslyAssigned" id="warning" class="help-block ">This adjuster is not currently assigned to this claim, but was previously.</span>
            </div>

             <div class="form-group" v-bind:class="{ 'has-warning': reviewerPreviouslyAssigned }">
              <label for="reviewerToReassign">Select Reviewer To Reassign</label>
                <select class="form-control" id="reviewerToReassign" v-model="invoice.reviewer_id" number>
                 <option value="0">Choose Reviewer</option>
                <option v-for="reviewer in assignments.reviewers" value="{{ reviewer.id }}">{{ reviewer.fname }} {{ reviewer.lname }}</option>
              </select>
              <span v-if="reviewerPreviouslyAssigned" id="error" class="help-block ">This reviewer is not currently assigned to this claim, but was previously.</span>
            </div>
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" :disabled="!canCreateNewInvoice" @click="createInvoice">Create New Invoice</button>
      </div>
    </div>
  </div>
</div>