<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="statusForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Assign Claim Status</h4>
      </div>
      <div class="modal-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Status Type:</label>
				 <div class="col-sm-7">
     				 <p class="form-control-static">{{ selectedStatus.name }}</p>
    			</div>
			</div>
		
			<div class="form-group" v-if="selectedStatus.type == 'date'">
				<label for="value" class="control-label col-sm-3">Status Date:</label>
				<div class="input-group col-sm-5">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="value" class="form-control status-date" v-date="selectedStatus.date">
				</div>
			</div>
			
			<!-- estimate/correction  -->
			<div class="form-group" v-if="selectedStatus.type == 'amount'">
				<label for="value" class="control-label col-sm-3">Estimate Value:</label>
				<div class="input-group col-sm-5">
					<div class="input-group-addon">$&nbsp;</div>
					<input v-model="selectedStatus.value" type="text" id="value" class="form-control">
				</div>
				<br>
				<label for="status-date" class="control-label col-sm-3">Estimate date:</label>
				<div class="input-group col-sm-5">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="status-date" class="status-date form-control" v-date="selectedStatus.date">
				</div>
			</div>

			<!-- Adjuster Assignment -->
			<div class="form-group" v-if="selectedStatus.type == 'Adjuster'">
				<label for="value" class="control-label col-sm-3">Adjuster:</label>
				<div class="input-group col-sm-5">
					<select type="text" id="value" class="form-control" v-model="selectedStatus.assignee">
						<option value="0">Select Adjuster to Assign</option>
						<option v-for="adjuster in adjusters" :value="adjuster">{{ adjuster.fname }} {{ adjuster.lname }}</option>
					</select>
				</div>
				<br>
				<label for="value" class="control-label col-sm-3">Status Date:</label>
				<div class="input-group col-sm-5">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="value" class="form-control status-date" v-date="selectedStatus.date">
				</div>
			</div>

			<!-- Reviewer Assignment -->
			<div class="form-group" v-if="selectedStatus.type == 'Reviewer'">
				<label for="value" class="control-label col-sm-3">Reviewer:</label>
				<div class="input-group col-sm-5">
					<select type="text" id="value" class="form-control" v-model="selectedStatus.assignee">
						<option v-for="reviewer in reviewers" :value="reviewer">{{ reviewer.fname }} {{ reviewer.lname }}</option>
					</select>
				</div>
				<br>
				<label for="value" class="control-label col-sm-3">Status Date:</label>
				<div class="input-group col-sm-5">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="value" class="form-control status-date" v-date="selectedStatus.date">
				</div>
			</div>
			
			<!-- user reassignment  (adjuster or Reviewer) -->
			<div class="form-group" v-if="isReassignment">
				<label for="value" class="control-label col-sm-3">Role To Reassign:</label>
				<div class="input-group col-sm-5">
					<select type="text" id="value" v-model='role' class="form-control" @change="setReassignmentType()">
						<option value="0">Select role to reassign </option>
						<option value="Reviewer Reassignment">Reviewer</option>
						<option value="Adjuster Reassignment">Adjuster</option>
					</select>
				</div>
				<br>
				<div v-if="role == 'Reviewer Reassignment'">
					<label for="value" class="control-label col-sm-3">Reviewer:</label>
					<div class="input-group col-sm-5">
						<select type="text" id="value" class="form-control" v-model="selectedStatus.assignee">
							<option value="0">Select reviewer to Assign</option>
							<option v-for="reviewer in reviewers" :value="reviewer">{{ reviewer.fname }} {{ reviewer.lname }}</option>
						</select>
					</div>
					<br>
				</div>
				
				<div v-if="role == 'Adjuster Reassignment'">
					<label for="value" class="control-label col-sm-3">Adjuster:</label>
					<div class="input-group col-sm-5">
						<select type="text" id="value" class="form-control" v-model="selectedStatus.assignee">
							<option value="0">Select Adjuster to Assign</option>
							<option v-for="adjuster in adjusters" :value="adjuster">{{ adjuster.fname }} {{ adjuster.lname }}</option>
						</select>
					</div>
					<br>
				</div>

				<label for="status-date" class="control-label col-sm-3">Date:</label>
				<div class="input-group col-sm-5">
					<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
					<input type="text" id="status-date" class="status-date form-control" v-date="selectedStatus.date">
				</div>
			</div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button @click="createStatus()" type="button" class="btn btn-primary">Create Status</button>
      </div>
    </div>
  </div>
</div>